*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body{
  font-family: 'Noto Sans JP', sans-serif;
  background-color: white;
}

header .nav-header li a{
  font-weight: 500;
  font-size: 16px;
  color: rgb(139, 149, 158);
  text-decoration: none;
}
ul li a:hover{
  transition: color 0.1s ease 0s, opacity 0.1s ease 0s;
  color: black;
}
.nav-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header{
  padding: 20px 15%;
  background-color: rgb(243, 244, 245);
}

header ul li{
  display: inline-block;
  padding: 0 20px;
}

main{
  padding: 30px 16%;
  height: 100%;
}
.nav-main .hamburger-menu{
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  min-width: 100vw;
  min-height: 100vh;
  background-color: white;
}
.hamburger-menu .nav-burger{
  background-color: lightgray;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hamburger-menu .nav-burger ul{
  display: block;
}
.close{
  display: block;
  position: absolute;
  color: white;
  font-size: 25px;
  right: 40px;
  top: 20px;
}

/* media query */

@media screen and (max-width: 1352px) {
  header{
    display: none;
  }
   main .nav-main .menu-main, .button{
    display: none;
  }
  .jumbotron{
    flex-direction: column;
  }
  .jumbotron .jumbosx{
    width: 100%;
  }
  .jumbotron .jumbosx h1{
    margin-top: 80px;
    text-align: center;
  }
  .jumbotron .jumbosx .flex{
    display: none;
  }
  .jumbotron .jumbodx{
    width: 100%;
    height: 400px;
  }
  .jumbodx img{
    margin-left: 250px;
  }
  main .nav-main .icon{
    display: block;
  }
  .hamburger-menu.active{
    display: block;
  }
}

.icon{
  font-size: 25px;
  display: none;
  position: absolute;
  right: 40px;
}
.nav-main{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.nav-main ul li{
  display: inline-block;
  padding: 0 20px;
}
.button{
  margin-left: auto;
}
.button button{
  background-color: black;
  padding: 13px 25px;
  color: white;
  border: 1px solid black;
  border-radius: 0.75rem;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 15px;
  font-weight: 500;
}
.button button:hover{
  background-color: rgba(25, 28, 31, 0.84);
  border-color: rgba(25, 28, 31, 0.84);
}
.nav-main .menu-main{
  margin-left: 6%;
}



#logo{
  font-weight: 900;
  font-size: 35px;
  color: black;
}
.parent-dropdown{
  position: relative;
}
.hidden{
  display: none;
}
.active{
  display: block;
}
.dropdown{
  padding-top: 5px;
  position: absolute;
  top: 20px;
  left: 0px;
  z-index: 5;
}

.nav-main ul li .maindropdown{
  box-shadow: 0px 0px 10px 0px #ccc;
  background-color: white;
}

.maindropdown ul li{
  font-size: 16px;
  color: rgb(139, 149, 158);
  text-decoration: none;
  font-weight: 300;
  line-height: 45px;
  display: block ruby;
}
.nav-main ul li,a{
  text-decoration: none;
  color: rgb(139, 149, 158);
}
.maindropdown ul{
  margin: 15px 5px 15px 5px;
}
.menu-burger{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.parent-dropdown-burger{

}
.maindropdown-burger{
  margin-top: 130px;
  height: 200px;
  width: 100%;
}
.maindropdown-burger ul li{
  font-size: 16px;
  color: rgb(139, 149, 158);
  text-decoration: none;
  font-weight: 300;
  line-height: 45px;
  display: block ruby;
}
.jumbotron{
  display: flex;
}
.jumbosx{
  width: 42%;
}
.jumbotron .jumbosx h1{
  font-size: 76px;
  font-weight: 600;
  line-height: 87px;
  color: rgb(25, 28, 31);
  margin-top: 130px;
}
.jumbotron .jumbosx p{
  font-size: 18px;
  line-height: 28px;
  text-align: left;
  color: rgb(139, 149, 158);
  margin-top: 45px;
}
.jumbotron .jumbosx .input input{
  margin-top: 50px;
  border: medium none;
  border-bottom: 1px solid rgb(139, 149, 158);
  margin-right: 15px;
}
.jumbotron .jumbosx .input input:first-of-type{
  width: 40px;
}
.jumbotron .jumbosx button{
  display: inline-block;
  background-color: rgb(25, 28, 31);
  width: 8.625rem;
  height: 3.5rem;
  color: white;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.25rem;
  border-radius: 0.75rem;
  border: medium none;
  margin-left: 20px;
  margin-top: 20px;
}
.jumbotron .jumbosx button:hover{
  background-color: rgba(25, 28, 31, 0.84);
  border-color: rgba(25, 28, 31, 0.84);
}
.flex{
  display: flex;
  align-items: flex-start;
}
.jumbotron .jumbodx{
  position: relative;
  width: 50%;
}
.jumbodx img{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  z-index: -1;
}
